body {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: rgba(151, 211, 141, .05);
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  }

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.lightbulbDrawing {
  width: 6rem;
  filter: contrast(1.45);
}

h1 {
  text-align: center;
  font-size: 4rem;
  font-weight: 300;
  line-height: 3rem;
  padding: 0 0 .75rem 0;
  margin: 0;
  background-color: white;
  color: rgb(30, 105, 18);
}

.smarter {
  text-align: center;
  font-weight: 300;
  font-size: 1.35rem;
  margin: 0;
  padding: .25rem 0 .5rem 0;
  border-top: 1px solid rgba(151, 211, 141, .4);
  color: rgb(100, 176, 88);
  background-color: white;
}

.life {
  font-weight: 100;
}

.hacks {
  font-weight: 500
}

.flexContainer {
  display: flex;
}

.imageContainer, 
a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 80vw;
  height: auto;
  margin: auto;
  padding-bottom: 3rem;
}

.hide {
  display:none;
  }

input {
  border-radius: .5rem;
  border: 2px solid rgb(151, 211, 141);
  max-width: 23rem;
  width: 90%;
  height: 2rem;
  margin: 1rem 0;
  padding: 0 1rem;
  font-size: 1rem;
}

::placeholder {
  color: rgba(151, 211, 141, .5);
}

#searchInput {
  color: rgb(85, 85, 85);
}

.searchbox {
  display: flex;
  justify-content: space-around;
}


.hacksImage {
  width: 80%;
  /* vertical-align: middle;  */
}



/* footer */

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 4rem; /* Place the button at the bottom of the page */
  right: 1rem; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgb(151, 211, 141); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: .5rem; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: .85rem; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}


/* baguette box  */

.gallery {
 max-width: 90vw;
 display: grid;
 grid-template-columns: 1fr;
 grid-template-rows: repeat(3, 1fr);
 grid-gap: 1rem;
 justify-items: center;
 margin: auto;
}

/* svg animation  */

.logo {
  stroke: rgb(30, 105, 18);
  stroke-width: 2;
  stroke-dasharray: 1800;
  stroke-dashoffset: 3950;
  animation: offset 3s linear forwards, 
             fill-it .8s 2s forwards;
}

@keyframes offset {
  100% {
    stroke-dasharray: 0;
  }
}

@keyframes fill-it {
  100% {
    fill: rgb(30, 105, 18);
  }
}




/* MEDIA QUERIES */


    /* Ipads / Tablets */
    @media (min-width:481px) {
     .gallery {
       max-width: 80vw;
       grid-template-columns: 1fr 1fr;
     } 
}


    /* Small screens, laptops. */
    @media (min-width: 769px) {
      
}


    /* Desktops, large screens. */
    @media (min-width: 1025px) {
      .gallery {
        grid-template-columns: 1fr 1fr 1fr;
      }
}


     /* Extra large screens, TV.  */
     @media (min-width: 1201px) {
      .gallery {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
}
